# Rename this file to secrets.yaml (DO NOT commit it)
wifi_ssid: "MY_WIFI"
wifi_password: "MY_WIFI_PASSWORD"

# (Optional) For encrypted ESPHome API (recommended)
api_encryption_key: "BASE64_KEY"

# (Optional) OTA password (or use passwordless OTA on your LAN)
ota_password: "OTA_PASSWORD"
